.jumbotron{
  background-color: #00ffff;
  rgb(0,50,50);
}
.index{
  background-image: url('image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
button{
  margin-left: auto;
  margin-right: auto;
}
img{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width:50%
}
#first{
  background-color: #404040
}
